/* footBox.css */

/* #footBox ================================== */
#footBox {
  box-sizing: border-box; padding: 30px 200px;
  widows: 100%; height: auto; background-color: #333;}

  /* fnb ----------- */
  .fnb {width: 100%; height: auto;}

  .fnb > li {
    margin-right: 20px;
    float: left;
    width: 70px; height: 40px;}

    .fnb > li:nth-child(5) {width: 120px;}
    .fnb > li:nth-child(6) {width: 140px;}
    .fnb > li:nth-child(7) {width: 100px;}

  .fnb a {
    display: block;
    width: 100%; height: 100%;
    line-height: 40px; text-align: center;
    font-size: 16px; color: #fff;}

  .fnb > li:nth-child(5) > a {color: #f26a25;}


  /* company_info --------- */
  .company_info {
    margin: 30px 0;
    width: 100%; height: auto;}
  
    .company_info > div {
      margin-bottom: 6px;
      width: 100%; height: auto;}
    .company_info > div:last-child {margin-bottom: 0;}

      .company_info > div > p{
        margin-right: 20px;
        font-size: 14px; color: #fff;}
      .company_info > div:nth-child(1) > p {float: left;}
      .company_info > div:nth-child(2) > p {float: left;}
      .company_info > div:nth-child(3) > p {float: left;}

  /* copyright ----------- */
  .copyright {font-size: 14px; color: #fff;}