/* proBox.css */

/* #proBox =================================== */
#proBox {
  box-sizing: border-box;
  padding-bottom: 160px;
  width: 100%; height: auto;
  background-color: #fff;}

    #proBox li {
      display: block;
      float: left;
      box-sizing: border-box; border: 1px solid #fff;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;}

    #proBox li:hover,
    #proBox li:focus {
      background-size: 120%;
      /*transition: all 500ms ease;*/}

      #proBox a {
        display: block;
        box-sizing: border-box;
        padding-top: 200px;
        width: 100%; height: 100%;
        text-align: center;
        font-size: 2.5rem; font-weight: bold; color: #fff;
        background-color: rgba(0,0,0,0.6);}
  
  /* pro_01 ------------- */
  .pro_01 {width: 100%; height: 450px;}
    
    .pro_01 > li {
      width: calc(100% / 4); height: 100%;}
    .pro_01 > li:nth-child(1) {background-image: url("../../../../img/tlj_main_web_img/proBox/new.jpg");}
    .pro_01 > li:nth-child(2) {background-image: url("../../../../img/tlj_main_web_img/proBox/bread.jpg");}
    .pro_01 > li:nth-child(3) {background-image: url("../../../../img/tlj_main_web_img/proBox/cake.jpg");}
    .pro_01 > li:nth-child(4) {background-image: url("../../../../img/tlj_main_web_img/proBox/sand.jpg");}

  /* pro_02 ------------- */
  .pro_02 {float: left; width: 60%; height: 450px;}

    .pro_02 > li {
      width: calc(100% / 3); height: 100%;}
    .pro_02 > li:nth-child(1) {background-image: url("../../../../img/tlj_main_web_img/proBox/salad.jpg");}
    .pro_02 > li:nth-child(2) {background-image: url("../../../../img/tlj_main_web_img/proBox/soup.jpg");}
    .pro_02 > li:nth-child(3) {background-image: url("../../../../img/tlj_main_web_img/proBox/drink.jpg");}

  /* pro_03 ------------- */
  .pro_03 {float: left; width: 40%; height: 450px;}

    .pro_03 > li {width: calc(100% / 2); height: 100%;}

    .pro_03 > li:nth-child(1) {background-image: url("../../../../img/tlj_main_web_img/proBox/others.jpg");}
    .pro_03 > li:nth-child(2) {background-image: url("../../../../img/tlj_main_web_img/proBox/character.jpg");}

      .pro_03 > li:nth-child(2) > a {padding-top: 190px;}





























