/* quickBox.css */

/* #quickBox ================================= */
#quickBox {
  width: 100%; height: 20%; background-color: #ccc;}

  .q_location {
    float: left;
    width: 33.333333%; height: 100%; background-color: #dc9;}
  .q_benefit {
    float: left;
    width: 33.333333%; height: 100%; background-color: #f9a;}
  .q_franchise {
    float: left;
    width: 33.333333%; height: 100%; background-color: #af9;}

    #quickBox a {
      display: block;
      margin: auto;
      width: 90%; height: 100%;
      line-height: 200px; text-align: center;
      font-size: 2.5rem; font-weight: bold; color: #fff;}
